.activePromotionsTitle{

    font-weight:bold;
    color:black;
    font-size:20px; 
    
}

.activePromotionsCardContent{
    margin-left: 2%
}

.dataTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   
}

th{  
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color:#f6f6f6;
}

tr:nth-child(odd) {
     background-color:#f6f6f6;
}