<div class="card-container">
  <md-card>
    <md-card-title class="activePromotionsTitle">
      Active Promotions
    </md-card-title>

    <md-card-content class="activePromotionsCardContent">
    <table class="dataTable">
         <tr >
         <th *ngFor="let col of cols">{{col.header}}</th>
         </tr>
       <tr *ngFor="let promotion of activePromotions">
       <td>{{promotion.promotionName}}</td>
       <td>{{promotion.description}}</td>
       <td>{{promotion.startDate}}</td>
       <td>{{promotion.endDate}}</td>
       <td>{{promotion.status}}</td>
       </tr>
    </table>

    </md-card-content>


  </md-card>

  </div>
