<div class="card-container">
     
    <md-card>
       
     <md-card-subtitle style="font-weight:bold; color:black; font-size:16px;margin-left: 2% ">Upcoming Promotions</md-card-subtitle> 
     
     <div class="pieChart">
      <p-chart type="pie" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
     </div>
     <md-card-actions class="summaryButtons" >
      <button md-button>SUBMIT</button>
      <button md-button>APPROVE</button>
      <button md-button>REJECT</button>
      <button md-button>COMPARE</button>
      <button md-button>SUMMARY</button>
      </md-card-actions>
     
     <md-card-content style="margin-left:2%;margin-right: 2%">
        
      <p-dataTable [value]="displayPromotions" [rows]="10" [paginator]="true" *ngIf="promotions[status]==status">

      <p-column field="check_box" >
          <template pTemplate="body">
          <span style="margin:auto; display:table;"> <md-checkbox></md-checkbox></span>
          </template>
      </p-column>
      <p-column field="promotion_name" header="Promotion Name"  >
          <template let-col let-promotionData="rowData" pTemplate="body">
          <span><a href="#">{{promotionData[col.field]}}</a></span>
          </template>
      </p-column>
      <p-column field="start_date" header="Start Date" ></p-column>
      <p-column field="profit_forecast" header="Profit Forecast" >
          <template let-col let-promotionData="rowData" pTemplate="body">
          <span><a href="#">{{promotionData[col.field]}}</a></span>
          </template>
      </p-column>
      <p-column field="revenue_forecast" header="Revenue Forecast" ></p-column>
      <p-column field="unit_forecast" header="Unit Forecast" ></p-column>
      <p-column field="last_updated" header="Last Updated" ></p-column>
      <p-column field="priority" header="Priority" ></p-column>
      <p-column field="status" header="Status" hidden="true" ></p-column>
   
   
   
    <!-- <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header">
      <template *ngIf="col.field=='status'" hidden="true"></template>
      <template *ngIf="col.field=='check_box'"  pTemplate="body">
         <span style="margin:auto; display:table;"> <md-checkbox></md-checkbox></span>
        </template>
     <template *ngIf="col.field=='promotion_name'" let-promotionData="rowData" pTemplate="body">
            <span><a href="#">{{promotionData[col.field]}}</a></span>
        </template>
     </p-column>-->
     
     </p-dataTable>
     </md-card-content>
     
   
 </md-card>
</div>
 