<div class="card-container">
     
    <md-card>
       
     <md-card-subtitle style="font-weight:bold; color:black; font-size:16px ">Upcoming Promotions</md-card-subtitle> 
     
     <div class="pieChart">
      <p-chart type="pie" [data]="data"  ></p-chart>
     </div>
     <md-card-actions>
      <button md-button>SUBIT</button>
      <button md-button>APPROVE</button>
      <button md-button>REJECT</button>
      <button md-button>COMPARE</button>
      <button md-button>SUMMARY</button>
      </md-card-actions>
     
     <md-card-content>
        
      <p-dataTable [value]="promotions" [rows]="10" [paginator]="true">
     <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header">
      <template *ngIf="col.field=='check_box'"  pTemplate="header">
         <img src="../../assets/images/checkbox.png">
    </template>
      <template *ngIf="col.field=='check_box'"  pTemplate="body">
         <span style="margin:auto; display:table;"> <md-checkbox></md-checkbox></span>
        </template>
     <template *ngIf="col.field=='promotion_name'" let-promotionData="rowData" pTemplate="body">
            <span><a href="#">{{promotionData[col.field]}}</a></span>
        </template>
     </p-column>
     
     </p-dataTable>
     </md-card-content>
     
   
 </md-card>
</div>
 