
@media only screen and (max-width: 700px) {
    /* For mobile phones: */
.upcomingPromotionsPieChart{

    width:100%;
    height: 100%;
    }
}

@media only screen and (min-width: 550px) {
    /*for tablet screens */
    .upcomingPromotionsPieChart { 
        height: 40%;
        width:  40%;
      
}
}
@media only screen and (min-width: 768px) {
    /*for desktop screens */
    .upcomingPromotionsPieChart { 
        height: 25%;
        width:  25%;
      
}
}

.upcomingPromotionTitle{
    font-weight:bold; 
    color:black; 
    font-size:20px;
   
}

.upcomingPromotionsSummaryButtons{
    margin-left:2%;
}

.upcomingPromotionsCardContent{
    margin-left:2%;
    margin-right: 2%
}

.upcomingPromotionsCheckboxSpam{
    margin:auto; 
    display:table;
}
/*@media only screen and (min-width: 500px) {
    /*for desktop screens 
    .pieChart { 
        height: 40%;
        width:  40%;
      
}
}*/






