
<div class="card-container">
     
  <md-card>
    
     <md-card-title class="upcomingPromotionTitle">Upcoming Promotions</md-card-title>
     <div class="flex-container" fxLayout="row" fxLayoutWrap="wrap">
    
      <div  fxFlex="50%">   
           <md-card>
                <md-card-content >
              <div  id="chartContainer"></div>
             </md-card-content>
             </md-card> 
             </div>
             <div fxFlex="50%">

             <md-card >
                 <md-card-actions class="upcomingPromotionsSummaryButtons" >
            <button md-button>SUBMIT</button>
            <button md-button>APPROVE</button>
            <button md-button>REJECT</button>
            <button md-button>COMPARE</button>
            <button md-button>SUMMARY</button>
         </md-card-actions>
     
     <md-card-content >
        
     <table class="dataTable">
         <tr >
         <th *ngFor="let col of cols">{{col.header}}</th>
         </tr>
       <tr *ngFor="let promotion of displayPromotions">
        <td><span class="upcomingPromotionsCheckboxSpam"><md-checkbox></md-checkbox></span></td>
       <td>{{promotion.promotionName}}</td>
       <td>{{promotion.description}}</td>
       <td>{{promotion.startDate}}</td>
       <td>{{promotion.endDate}}</td>
       </tr>
    </table>

      </md-card-content>
                 </md-card>
                </div> 
         </div>

  </md-card>
  </div>

