.activePromotionsContainer
{
   margin-right:4%;
    margin-left:4%;
    margin-top:2%;
  margin-bottom: 2%;
}
.upcomingPromotionsContainer
{
    margin-right:4%;
    margin-left:4%;
    margin-bottom:4%;
}